	body{
		margin: 0px;
		padding: 0px;
		width:100%;
		height: 500px;
	}
	#top{
		float:left;
		display: inline-block;
		vertical-align: middle;
		position: fixed;
		background: #FC5353;
		height: 80px;
		width: 100%;
	}
	.logoutbtn{
		float: right;
	}

	#home{
		margin: 0 auto;
		left: 0;
		right: 0;
		background-image: url('logo.jpg');
		position: fixed;
	    border:solid 1px black;
		width: 50%;
		line-height: 5px;
		border-radius: 5px;
		height: 60%;
		margin-top: 120px;
		text-align: center;
	}
	#donorSearch{
		width:100%;
		margin-top: 2%;
		height: 100%;
		max-height: 82%;
		overflow-y: scroll;
		
	}
	.Name{
		float:left;
		padding-left: 1%;
	}
	#bottom{
		width:100%;
		position: absolute;
		margin-top: 150px;
		height: 50%;

	}
	#left{
		position: relative;
		float:left;
		height: 100%;
		width: 50%;
	}
	#form{
		width:100%;
	}
	#right_login{
		position: relative;
		float:right;
		height: 100%;
		width: 50%;
	}
	#loginForm{
		height: 80%;
	}
	#right_signup{
		position: relative;
		float:center;
		width:100%;
		left:55%;
		}
	.right_signup input{
		border: 1px solid #e1e8ed;
		border-radius:3px;
		padding: 1%;
		margin-bottom: 1%;
		font-size:14px;
		color: #292f33;
		background-color:white;
		
	}
	.right_signup input:focus{
		border-color:#1b95e0;
	}
	.right_signup input:hover{
		border-color:#1b95e0;
	}
	.img{
		padding-top: 1.5%;
		padding-left: 1%;
		padding-bottom: 1.5%;
		float: left;
		align-items: center;
		align-content: center;
		text-align: center;
		vertical-align: middle;
		position: relative;
		height: 100%;
	}
	
	vr {
	    display: block;
	    width:1px;
	    box-shadow: 1px 10px 10px;
	    background-color:#000;
	    position:absolute;
	    top:100px;
	    bottom:0;
	    left:600px;
	}
	.signup{
		height: 10%;
	}
	.signup button{
		background: #F4F9FF;
		color: #1da1f2;
		font-size: 13px;
		border:none;
	}

	.signup button:hover {
		text-decoration: underline;
		outline: 0 none;
	}

	h2{
		margin-bottom: 30px;
	}
	img{
		opacity: 0.6;
    	
	}
	button{
		padding: 5px 20px 5px 20px;
		border-radius: 10px;
		color: white;
		font-size: 14px;
		background: #FC5353;
		border: 0px;
	}
	input{
		border: 1px solid #e1e8ed;
		border-radius:3px;
		margin-bottom: 10px;
		font-size:13px;
		color: #292f33;
		line-height:20px;
		background-color:white;
		width:200px;
		outline: none;
	}
	input:hover{
		border-color:#1b95e0;
	}
	input:focus{
		border-color:#1b95e0;
	}
	
	ul {
		list-style-type:none;
		margin: 0;
		padding: 0;
	}